@media (max-width: 768px) {
    .sections {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .gallery .sec_title {
        transform: rotate(0);
    }

    .gallery .parallax {
        width: 90%;
    }

    .askme .searchbar .submit {
        position: absolute;
        right: 20%;
        top: 45%;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .main .hero .sidebar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        height: 250px;
        width: 100vw;
        transition: height 1s ease-in-out;
        overflow: scroll;
        /*background: blue;*/
    }

    .main .hero .sidebar .cards{
        width: calc(30vh);
        margin: 20px 20px 0px 20px;
    }

    .arrow{
        display: none;
    }
}